# Prerequisites:
# 1) /usr/bin/ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"
# 2) brew install ansible
# 3) ansible-galaxy install geerlingguy.mas
# 4) brew cask
# 5) brew tap buo/cask-upgrade
# 6) Launch like this ansible-playbook macosx.yml


- hosts: localhost
  gather_facts: false

  tasks:

    - name: Install Libs
      homebrew: name={{ item }} state=present
      with_items:
 #       - fish
        - pyenv
        - mas
        - youtube-dl
        - ffmpeg

    - name: Install Utilities
      homebrew_cask: name={{ item }} state=present
      with_items:
        - android-file-transfer
        - authy
        - avast-security
        - bitbar
        - coconutbattery
        - docker
        - balenaetcher
        - flux
        - google-backup-and-sync
        - lulu
        - quicklook-csv 
        - quicklook-json 
        - rsyncosx
        - smcfancontrol
        - spectacle
        - superduper
        - cyberduck
        - virtualbox
        - krita     # drawing app
        - kap       # record screencast  
        - blackhole # audio loopback
  #      - homebrew/cask-drivers/lg-onscreen-control

  #      - bootchamp
  #      - zerotier-one

    - name: Install Productivity App
      homebrew_cask: name={{ item }} state=present
      with_items:
        - gimp
        - sweet-home3d
        - google-earth
        - imageoptim
        - krita
#         - digikam

    - name: Install Browsers
      homebrew_cask: name={{ item }} state=present
      with_items:
#        - opera
        - brave-browser
        - google-chrome
#        - firefox
#        - vivaldi 

    - name: Install Dev Tools
      homebrew_cask: name={{ item }} state=present
      with_items:
        - visual-studio-code
#        - iterm2
        - terminus
        - sequel-pro 
        - sourcetree
        - github
        - postman

    - name: Install Media App
      homebrew_cask: name={{ item }} state=present
      with_items:
        - calibre
        - vlc
        - deezer

    - name: Install Social Tools
      homebrew_cask: name={{ item }} state=present
      with_items:
        - skype
        - bria

  
- hosts: localhost
  vars:
    mas_installed_apps:
      - { id: 425264550, name: "Blackmagic Disk Speed Test" }
      - { id: 411643860, name: "Daisy Disk" }
      - { id: 937984704, name: "Amphetamine" }
      - { id: 472226235, name: "Lanscan" }
      - { id: 926036361, name: "Lastpass" }
      - { id: 425424353, name: "The Unarchiver" }
      - { id: 497799835, name: "Xcode" }
      - { id: 523620159, name: "Clean My Drive" }
      - { id: 490461369, name: "Bandwidth+" }
      - { id: 921923693, name: "LibreOffice Vanilla" }
      - { id: 1295203466, name: "Microsoft Remote Desktop" }
#      - { id: 1086871235, name: "Reolink" }
      
  roles:
    - geerlingguy.mas

  
  # To install manually: ring, RsyncOSXsched, davinci resolve

- hosts: localhost
  gather_facts: false

  tasks:

    - name: Copy .zshrc
      copy:
        src: .zshrc
        dest: /home/julien/
        owner: julien
        group: users
        mode: 0644
        
